<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Tuesday, October 20th, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td>The Unix Shell</td> <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Midday</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Wednesday, October 21st, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td>Programminng with  R, Part I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Midday</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Programming with R, Part II</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>




















    
  
</div>
