<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9.00-10.00</td>        <!-- time    -->
        <td>Unix Shell (episodes 1-2) - Amanda </td> <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10.00-10.10</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 4   -->
        <td>10.10-11.30</td>        <!-- time    -->
        <td>Unix Shell (episodes 3-4) - Amanda </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11.30-12.00</td>        <!-- time    -->
        <td>Meal Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12.00-12.50</td>        <!-- time    -->
        <td>Version Control with Git (episodes 1-4) - Amanda</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12.50-13.00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13.00-14.00</td>        <!-- time    -->
        <td>Version Control with Git (episodes 5-7) - Amanda</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00-9.50</td>        <!-- time    -->
        <td>Programminng with  R (setup, episode 9) - Richard</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9.50-10.00</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10.00-11.30</td>        <!-- time    -->
        <td>Programming with R (episodes 1, 2 and 3) - Richard</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11.30 -12.00</td>        <!-- time    -->
        <td>Meal Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12.00-12.50</td>        <!-- time    -->
        <td>Programming with R (episode 4) - Kevin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12.50-13.00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13.00-14.00</td>        <!-- time    -->
        <td>Programming with R (episode 5) - Kevin</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00-9.50</td>        <!-- time    -->
        <td>Programming with R (episodes 6 and 7) - Richard</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9.50-10.00</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10.00-11.30</td>        <!-- time    -->
        <td>Programming with R (episodes 8 and 10) - Richard</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11.30-12.00</td>        <!-- time    -->
        <td>Meal Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12.00-12.50</td>        <!-- time    -->
        <td>Programming with R (episodes 11 and 12) - Ann</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12.50-13.00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>13.00-14.00</td>        <!-- time    -->
        <td>Programming with R (episodes 13-15) - Ann</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>



















    
  
</div>
